---
import HelpIcon from "./icons/HelpIcon.astro"
---
<div class="map-bar map-control" x-data>
	<a id="mapHelp" href="#" title="Map help" @click.prevent.stop="$store.ui.showMapHelpModal = true">
		<HelpIcon />
	</a>
</div>