---
import { Icon } from 'astro-icon/components'
---
<div class="map-bar map-control">
	<a id="lookDown" href="#" title="Look down">
		<Icon name="fa7-solid:circle-arrow-down" class="map-look-down-icon" />
	</a>
</div>