---

---
<div id="trackPopUp" x-show="$store.tracks.selected" x-cloak x-data class="map-popup-container">
    <div id="trackPopUpContent" class="map-popup" style="z-index: 10;">
        <div class="map-popup-inner">
            <button class="delete is-small map-popup-close-button" @click.prevent="$store.tracks.clear()"></button>
            <div class="map-popup-content-wrapper">
                <div id="trackPopUpLink" class="map-popup-content"></div>
            </div>
        </div>
    </div>
</div>
