---

---
<div class="map-bar map-control">
<a id="alignNorth" title="North">
		<svg id="northArrowSvg"
			viewBox="12.5 5 75 90"
			class="north-arrow-icon"
			fill="currentColor">
			<path d="M47.655 1.634l-35 95c-.828 2.24 1.659 4.255 3.68 2.98l33.667-21.228l33.666 21.228c2.02 1.271 4.503-.74 3.678-2.98l-35-95C51.907.514 51.163.006 50 .008c-1.163.001-1.99.65-2.345 1.626zm-.155 14.88v57.54L19.89 91.461z"
				fill-rule="evenodd"/>
		</svg>

    </a>
</div>
