---
import ResetToSearchCenterIcon from "./icons/ResetToSearchCenterIcon.astro"
---
<div class="map-bar map-control">
	<a id="resetToSearchCenter" title="Reset to search center">
		<ResetToSearchCenterIcon />
    </a>
</div>