---
import * as info from '../../content/info.md'
import Logo from '../widgets/Logo.astro'
import { Icon } from 'astro-icon/components'
import pkg from '../../../package.json'
const { github, twitter, versionText } = info.frontmatter
---

<div 
  class="modal"
  x-data
  :class="{ 'is-active': $store.ui.showInfoModal }"
>
	<div class="modal-background" @click="$store.ui.showInfoModal = false"></div>

	<div class="modal-card" style="max-width: 640px;">

		<header class="modal-card-head is-align-items-center is-justify-content-space-between">
			<div class="logo-stack">
				<div class="logo-wrapper">
					<Logo class="modal-logo" />
				</div>
				<p class="is-size-7 mt-1 has-text-weight-semibold">v{pkg.version}<span set:html={versionText}></span></p>
			</div>

			<button 
				class="delete" 
				aria-label="close"
				@click="$store.ui.showInfoModal = false"
			></button>
		</header>

		<section class="modal-card-body">
			<div class="content is-medium">
			<info.Content />
			</div>
		</section>

		<footer class="modal-card-foot">
		<div class="footer-links">

			<a href={github} target="_blank" class="footer-link">
				<Icon name="fa7-brands:github" class="is-size-5"/>
				GitHub
			</a>

			<span class="dot">•</span>

			<a href={twitter} target="_blank" class="footer-link">
				<Icon name="fa7-brands:x-twitter" class="is-size-5"/>
				Twitter
			</a>

			<span class="dot">•</span>

			<a href="https://morinricardo.com" target="_blank" class="footer-link">
				<Icon name="fa7-solid:blog" class="is-size-5"/>
				Blog
			</a>

		</div>
		</footer>


	</div>
</div>

<style is:global>
	.logo-stack {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.logo-wrapper {
		display: inline-block;
		line-height: 0;
		overflow: hidden;
	}

	.logo-wrapper .modal-logo {
  		max-height: none;
		display: block;
		margin-left: -8px;
	}
</style>

<style>
	.content.is-medium {
		font-size: 0.9rem;
	/* line-height: 1.35; */
	}

	.modal-card-head {
		padding: 1rem;
	}

	.modal-card-foot {
		padding: 1rem;
	}

	.footer-links {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 0.85rem;
	}

	.footer-links span:first-child {
		font-weight: 600;
		opacity: 0.8;
	}

	.footer-link {
		display: inline-flex;
		align-items: center;
		gap: 0.25rem;
	}

	.icon {
		width: 1rem;
		height: 1rem;
		opacity: 0.8;
	}

	.dot {
		opacity: 0.6;
	}

	.modal-card-foot {
		justify-content: center;
		padding: 0.75rem 1rem;
	}

	.modal-card-foot a {
		color: #444;
		text-decoration: underline;
	}

	.modal-card-foot a:hover {
		color: #222;
	}


</style>



