---
import WorldMapPicker from '../widgets/WorldMapPicker.astro'
---
<div x-data>
    <div :class="{ modal: true, 'is-active': $store.ui.showSearchCenterModal }">

        <div class="modal-background"
             @click="$store.ui.showSearchCenterModal = false"></div>

        <div class="modal-content" x-data="worldMapModal()">

            <div class="search-center-box">

                <header class="search-center-header">
                    <span class="search-center-title">Click on the map to choose a new search center...</span>
                    <button class="delete"
                            @click="$store.ui.showSearchCenterModal = false"></button>
                </header>

                <div class="search-center-map"
                     @picked="pick($event.detail.lat, $event.detail.lon)">
                    <WorldMapPicker />
                </div>

            </div>

        </div>
    </div>
</div>

<style>

.modal-content {
    --bulma-modal-content-width: 60rem;
}

.search-center-box {
    background: white;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.search-center-header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #ddd;
}

.search-center-title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    display: flex;
    align-items: center;
}

.search-center-map {
    padding: 1rem;
}
</style>

<script type="module">
	document.addEventListener('alpine:init', () => {
		Alpine.data('worldMapModal', () => ({

			pick(lat, lon) {
				this.$store.tracks.setSearchCenter(lat, lon)
				this.$store.ui.showSearchCenterModal = false
			}

		}))
	})
</script>
