---
import '../../styles/modals.css' 
import { Icon } from 'astro-icon/components'
import ModalHeader from './parts/ModalHeader.astro'
import ModalFooterMessages from './parts/ModalFooterMessages.astro'
---

<div class="userinfo-modal" x-data="userInfoModal">
    <div :class="{ modal: true, 'is-active': $store.ui.showUserInfoModal, 'modal-top': true }">

        <div class="modal-background" @click="$store.ui.showUserInfoModal = false"></div>

        <div class="modal-card">

            <ModalHeader closeAction="$store.ui.showUserInfoModal = false">
                <p slot="title" class="is-size-5 mb-2">
                    <span>Hi </span><span x-text="$store.user.username"></span><span>!</span>
                </p>
                <p slot="subtitle" class="is-size-6 mr-2">
                    Update your password, change the page URL, or logout…
                </p>
            </ModalHeader>

            <!-- BODY -->
            <section class="modal-card-body">

                <!-- CHANGE PASSWORD -->
                <div class="field is-horizontal">
                    <label for="currentPassword" class="field-label is-normal">Current password</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input"
                                    id="currentPassword"
                                    :class="{ 'is-danger': $store.ui.errorField === 'currentPassword' }"
                                    type="password"
                                    placeholder="Enter current password"
                                    x-model="currentPassword">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <label for="newPassword" class="field-label is-normal">New password</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input"
                                    id="newPassword"
                                    :class="{ 'is-danger': $store.ui.errorField === 'newPassword' }"
                                    type="password"
                                    placeholder="Enter new password"
                                    x-model="newPassword">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <label for="confirmPassword" class="field-label is-normal">Re-enter password</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input"
                                    id="confirmPassword"
                                    :class="{ 'is-danger': $store.ui.errorField === 'confirmPassword' }"
                                    type="password"
                                    placeholder="Re-enter new password"
                                    x-model="confirmPassword">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button"
                                        @click="update()">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- USERNAME → URL -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">Rikitraki URL</div>
                    <div class="field-body">
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-light"
                                        @click="$store.user.applyUsernameToUrl(); $store.ui.showUserInfoModal = false">
                                    Private
                                </button>
                            </div>
                            <div class="control">
                                <button class="button is-light"
                                        @click="$store.user.removeUsernameFromUrl(); $store.ui.showUserInfoModal = false">
                                    Global
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- LOGOUT -->
                <div class="field is-horizontal">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button"
                                        @click="$store.user.logout(); $store.ui.showUserInfoModal = false">
                                    <Icon name="fa7-solid:user-xmark" size="24" class="mr-2" />
                                    Logout
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

			<ModalFooterMessages />

        </div>
    </div>
</div>
