---
import { Icon } from 'astro-icon/components'
import ErrorMessage from '../widgets/ErrorMessage.astro'
---

<div class="userinfo-modal" x-data="userInfoModal">
    <div :class="{ modal: true, 'is-active': $store.ui.showUserInfoModal, 'modal-top': true }">

        <div class="modal-background" @click="$store.ui.showUserInfoModal = false"></div>

        <div class="modal-card">

            <!-- HEADER -->
            <header class="modal-card-head">
                <div class="modal-card-title">
                    <p class="is-size-5 mb-2">
                        <span>Hi </span><span x-text="$store.user.username"></span><span>!</span>
                    </p>
                    <p class="is-size-6 mr-2">
                        Update your password, change the page URL, or logout…
                    </p>
                </div>
                <button class="delete" aria-label="close"
                        @click="$store.ui.showUserInfoModal = false"></button>
            </header>

            <!-- BODY -->
            <section class="modal-card-body">

                <!-- CHANGE PASSWORD -->
                <div class="field is-horizontal">
                    <label class="field-label is-normal">New password</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input"
                                       :class="{ 'is-danger': errorField === 'newPassword' }"
                                       type="password"
                                       placeholder="Enter new password"
                                       x-model="newPassword">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <label class="field-label is-normal">Re-enter</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input"
                                       :class="{ 'is-danger': errorField === 'confirmPassword' }"
                                       type="password"
                                       placeholder="Re-enter new password"
                                       x-model="confirmPassword">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button"
                                        @click="update()">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- USERNAME → URL -->
                <div class="field is-horizontal">
                    <label class="field-label is-normal">Rikitraki URL</label>
                    <div class="field-body">
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-light"
                                        @click="$store.user.applyUsernameToUrl(); $store.ui.showUserInfoModal = false">
                                    Private
                                </button>
                            </div>
                            <div class="control">
                                <button class="button is-light"
                                        @click="$store.user.removeUsernameFromUrl(); $store.ui.showUserInfoModal = false">
                                    Global
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- LOGOUT -->
                <div class="field is-horizontal">
                    <label class="field-label"></label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button"
                                        @click="$store.user.logout(); $store.ui.showUserInfoModal = false">
                                    <Icon name="fa7-solid:user-xmark" size="24" class="mr-2" />
                                    Logout
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <!-- FOOTER ERROR SLOT -->
            <footer class="modal-card-foot py-2">
                <div class="is-fullwidth" style="height: 68px;">
                    <template x-if="$store.user.error">
                        <ErrorMessage />
                    </template>
                </div>
            </footer>

        </div>
    </div>
</div>

<style>
    .modal.modal-top.is-active {
        display: block !important;
    }

    .modal.modal-top .modal-card {
        margin: 1.5rem auto 0 auto;
        max-height: calc(100vh - 4rem);
        overflow-y: auto;
    }

    .modal-card-head .modal-card-title {
        flex: 1 1 auto;
        white-space: normal;
    }

    .userinfo-modal .field-label {
        flex-basis: 4rem;
    }

    .modal-card-foot .is-fullwidth {
        flex: 1 1 100%;
    }
</style>
