---
const { label, model } = Astro.props
---

<div class="field is-horizontal">
  <div class="field-label">{label}</div>
  <div class="field-body">
    <div class="field">
      <label class="switch is-rounded">
        <input type="checkbox" x-model={model}>
        <span class="check is-info"></span>
      </label>
    </div>
  </div>
</div>
