---

---
<!-- METRICS CARD -->
<div class="track-card p-3 metrics-scroll">

    <div class="metric-line">
        <span class="metric-label">By</span>
        <span class="metric-value"
            x-text="$store.tracks.items[$store.tracks.activeTrackId].details.username">
        </span>
    </div>

    <div class="metric-line">
        <span class="metric-label">Activity</span>
        <span class="metric-value"
            x-text="`${$store.tracks.items[$store.tracks.activeTrackId].details.trackType}, ${$store.tracks.items[$store.tracks.activeTrackId].details.trackLevel}`">
        </span>
    </div>

    <div class="metric-line">
        <span class="metric-label">Date recorded</span>
        <span class="metric-value"
            x-text="$store.tracks.items[$store.tracks.activeTrackId].details.trackDate
                ? new Date($store.tracks.items[$store.tracks.activeTrackId].details.trackDate).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })
                : 'Not Available'">
        </span>
    </div>

    <div class="metric-line">
        <span class="metric-label">Distance</span>
        <span class="metric-value"
            x-text="$formatDistanceLabel($store.tracks.items[$store.tracks.activeTrackId].metrics.lengthKm)">
        </span>
    </div>

    <div class="metric-line">
        <span class="metric-label">Elevation Gain</span>
        <span class="metric-value"
            x-text="$formatElevationLabel($store.tracks.items[$store.tracks.activeTrackId].metrics.elevationGain)">
        </span>
    </div>

    <div class="metric-line">
        <span class="metric-label">Max Elevation</span>
        <span class="metric-value"
            x-text="$formatElevationLabel($store.tracks.items[$store.tracks.activeTrackId].metrics.maxElevation)">
        </span>
    </div>

    <div class="metric-line">
        <span class="metric-label">Min Elevation</span>
        <span class="metric-value"
            x-text="$formatElevationLabel($store.tracks.items[$store.tracks.activeTrackId].metrics.minElevation)">
        </span>
    </div>

    <!-- REGION TAGS -->
    <div class="metric-line">
        <span class="metric-label">Region</span>
        <span class="metric-value"
            x-text="$store.tracks.items[$store.tracks.activeTrackId].details.trackRegionTags?.join(', ') || '—'">
        </span>
    </div>

</div>