---
import Thumbnail from './Thumbnail.astro';
---

<div x-data="{
        isActiveTrackMode: false,

        getImage(p) {
            return $store.tracks.thumbnailUrl(p.trackId)
        },

        getLabel(p) {
            return p.title
        },

        onClick(p) {
            $store.tracks.openTrack(p.trackId)
        }
    }"
    x-init="$store.tracks.loadMotd()"
    style="display: contents">

    <template x-if="!$store.tracks.motdLoading && $store.tracks.motdTracks.length === 0" x-cloak>
        <div class="empty-card">
            <p class="is-size-6 has-text-centered"
            x-text="'User &quot;' + $store.tracks.username + '&quot; doesn\\'t have any tracks with photos and descriptions yet.'">
            </p>
        </div>
    </template>

    <template x-if="!$store.tracks.motdLoading && $store.tracks.motdTracks.length > 0">
        <template x-for="(p, i) in $store.tracks.motdTracks" :key="p.trackId">
            <Thumbnail
                :item="p"
                :index="i"
                :getImage="getImage"
                :getLabel="getLabel"
                :onClick="onClick"
            />
        </template>
    </template>
</div>
