---

---

<div>
    <a
        class="thumb-card"
        :class="isActiveTrackMode && 'glightbox'"
        :href="isActiveTrackMode ? getFullUrl(p, i) : undefined"
        :data-title="isActiveTrackMode ? getLabel(p, i) : null"
        data-type="image"
        @click.capture="event.currentTarget.blur()"
        @click="!isActiveTrackMode && onClick && onClick(p, i)"
    >
        <img class="thumbImg" :src="getImage(p)" :alt="getLabel(p, i)" />
        <div class="is-size-7 p-2" x-text="getLabel(p, i)"></div>
    </a>
</div>

<style>
    .thumb-card {
        flex: 0 0 auto;
        width: 12rem;
        height: 100%;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: background-color 0.15s ease;
        color: inherit;
        text-decoration: none;
    }

    .thumb-card:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .thumbImg {
        border: 2px solid #fff;
        width: 10rem;
        height: 7.5rem;
        object-fit: cover;
    }

    .thumb-card .is-size-7 {
        text-align: center;
    }
</style>
