@charset "utf-8";

@use "bulma/sass" with (
    $panel-radius: 0px,
    $panel-heading-radius: 0px,
    $card-radius: 0px
);

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");


html {
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	overscroll-behavior-x: none;
}

:root {
    --navbar-height: 52px;
}

body.has-navbar-fixed-top {
  padding-top: var(--navbar-height) !important;
}

[x-cloak] {
    display: none !important;
}
