// Bulma
@charset "utf-8";

@use "bulma/sass" with (
	$panel-radius: 0px,
	$panel-heading-radius: 0px
);

:root {
	--navbar-height: 52px;
}

body.has-navbar-fixed-top {
  padding-top: var(--navbar-height) !important;
}

[x-cloak] {
	display: none !important;
}

/*[x-cloak] { outline: 2px solid red; } */