---
import { Icon } from 'astro-icon/components'
---
<div 
    class="notification is-danger is-light is-flex is-align-items-center"
    style="gap: 0.5rem"
    x-transition.opacity.duration.150ms
>
    <span class="is-flex is-align-items-center">
        <Icon name="fa7-solid:triangle-exclamation" size="24px" />
    </span>

    <span 
        class="is-flex is-align-items-center"
        style="line-height: 1.2"
        x-text="$store.ui.error"
    ></span>
</div>
