---
import BaseLayout from '../layouts/BaseLayout.astro'
import SidePanel from '../components/SidePanel.astro'
import MapPanel from '../components/MapPanel.astro'
import { Icon } from 'astro-icon/components'
import '../styles/map-frame.css'
---

<BaseLayout>
    <section class="main-layout" style="height: calc(100dvh - 52px)">
        <div class="columns is-gapless" style="height: 100%; align-items: stretch">

            <!-- SIDE PANEL -->
            <aside class="column is-narrow side-panel isopen">
                <div class="side-panel-content isopen">
                    <button class="side-panel-close-button" title="Close panel">
                        <Icon name="fa7-solid:xmark" class="icon" />
                    </button>

                    <SidePanel />
                </div>
            </aside>

            <button id="toggleSidePanel" class="side-panel-open-button hidden" title="Open panel">
                <Icon name="fa7-solid:right-from-bracket" class="icon icon-desktop" />
                <Icon name="fa7-solid:caret-down" class="icon icon-mobile" />
            </button>

            <!-- MAP COLUMN -->
            <div class="column map-column">

                <div class="map-grid">
                    <div class="map-grid-map map-touch-wrapper" style="position: relative;">
                        <MapPanel />
						<div class="map-touch-overlay"></div>
                    </div>

                    <!-- BOTTOM PANEL -->
                    <div class="bottom-panel isopen">
                        <button class="bottom-panel-close-button" title="Close info panel">
                            <Icon name="fa7-solid:xmark" class="icon" />
                        </button>

                        <div class="bottom-panel-content">
                            HEY
                        </div>
                    </div>

                    <!-- BOTTOM PANEL OPEN BUTTON -->
                    <button id="toggleBottomPanel" class="bottom-panel-open-button" title="Open info panel">
                        <Icon name="fa7-solid:caret-up" class="icon" />
                    </button>
                </div>
            </div>

        </div>
    </section>
</BaseLayout>

<script>
	import * as mapFrame from '../scripts/ui/mapFrame.js'
	import   *  as map from '../scripts/mapper/map.js'
	import { getTrackInfo } from '../scripts/data/getTrackInfo' // Temporary
	import { getTracksByLoc } from '../scripts/data/getTracksByLoc' // Temporary


	document.addEventListener('alpine:init', () => {
		Alpine.store('tracks', {
			all: [],
			selected: null,
			loadingTracks: false, 
			loadingCesium: false, 
			get loading() { return this.loadingTracks || this.loadingCesium },

			selectTrack(track) {
				this.selected = track
			},

			clear() {
				this.selected = null
			}
		})
	})

	document.addEventListener('DOMContentLoaded', async () => {
		mapFrame.initUI() 
		map.initMap()

		const lat = 45.5152 
		const lon = -122.6784 
		
		Alpine.store('tracks').loadingTracks = true
		const { tracks } = await getTracksByLoc(lat, lon, 200)
		Alpine.store('tracks').loadingTracks = false

		console.log(tracks)

		Alpine.store('tracks').all = tracks
		
		map.setTracks(tracks)
	})

	//console.log(await getTracksByLoc(45.5152, -122.6784, 200))
</script>

<style>
	.columns { 
		position: relative; z-index: 0; 
	}

	#trackPopUp {
		position: fixed;
		z-index: 20;
		pointer-events: auto;
	}

	@media (max-width: 768px) {
		.map-touch-wrapper {
			position: relative;
		}

		.map-touch-overlay {
			position: absolute;
			inset: 0;
			/* overlay is "real", so it captures touches instead of Cesium */
			pointer-events: auto;
			background: transparent;
		}

		/* when map is active, remove the overlay from the event chain */
		.map-touch-wrapper.map-active .map-touch-overlay {
			pointer-events: none;
		}
	}

</style>

