---
import BaseLayout from '../layouts/BaseLayout.astro'
import SidePanel from '../components/SidePanel.astro'
import MapPanel from '../components/MapPanel.astro'
import { Icon } from 'astro-icon/components'
import '../styles/map-frame.css'
---

<BaseLayout>
    <section class="main-layout">
        <div class="map-frame">

            <!-- SIDE PANEL -->
            <aside class="side-panel map-frame-side isopen">
                <div class="side-panel-content isopen">
                    <button class="side-panel-close-button" title="Close panel">
                        <Icon name="fa7-solid:xmark" class="icon" />
                    </button>

                    <SidePanel />
                </div>
            </aside>

            <!-- SIDE PANEL OPEN BUTTON -->
            <button id="toggleSidePanel" class="side-panel-open-button hidden" title="Open panel">
                <Icon name="fa7-solid:right-from-bracket" class="icon icon-desktop" />
                <Icon name="fa7-solid:caret-down" class="icon icon-mobile" />
            </button>

            <!-- MAP COLUMN -->
            <div class="map-frame-main">

                <div class="map-grid">
                    <div class="map-grid-map map-touch-wrapper">
                        <MapPanel />
                        <div class="map-touch-overlay"></div>
                        <div class="map-interact-hint">Tap to interact</div>
                    </div>

                    <!-- BOTTOM PANEL -->
                    <div class="bottom-panel isopen">
                        <button class="bottom-panel-close-button" title="Close info panel">
                            <Icon name="fa7-solid:xmark" class="icon" />
                        </button>

                        <div class="bottom-panel-content">
                            HEY
                        </div>
                    </div>

                    <!-- BOTTOM PANEL OPEN BUTTON -->
                    <button id="toggleBottomPanel" class="bottom-panel-open-button" title="Open info panel">
                        <Icon name="fa7-solid:caret-up" class="icon" />
                    </button>
                </div>
            </div>

        </div>
    </section>
</BaseLayout>

<script>
    import * as mapFrame from '../scripts/ui/mapFrame.js'
    import * as map from '../scripts/mapper/map.js'
    import { getTrackInfo } from '../scripts/data/getTrackInfo'
    import { getTracksByLoc } from '../scripts/data/getTracksByLoc'
	import { getApproxLocation } from '../scripts/utils/geoUtils.js'
	import initTracksStore from '../scripts/stores/tracks.js'

	document.addEventListener('alpine:init', () => {
		initTracksStore(Alpine)
	})

	document.addEventListener('DOMContentLoaded', async () => {
		mapFrame.initUI()
		map.initMap()

		const { lat, lon } = await getApproxLocation()

		map.setSearchCenter(lat, lon)

		Alpine.store('tracks').lat = lat
		Alpine.store('tracks').lon = lon

		Alpine.store('tracks').reload()
	})

</script>

