---
import BaseLayout from '../layouts/BaseLayout.astro'
import SidePanel from '../components/panels/SidePanel.astro'
import MapPanel from '../components/panels/MapPanel/MapPanel.astro'
import BottomPanel from '../components/panels/BottomPanel/BottomPanel.astro'
import SearchCenterModal from '../components/modals/SearchCenterModal.astro'
import { Icon } from 'astro-icon/components'
import '../styles/map-frame.css'
---

<BaseLayout>
    <section class="main-layout">
        <div class="map-frame">

            <!-- SIDE PANEL -->
            <aside class="side-panel map-frame-side isopen">
                <div class="side-panel-content isopen">
                    <button class="side-panel-close-button" title="Close panel">
                        <Icon name="fa7-solid:xmark" class="icon" />
                    </button>

                    <SidePanel />
                </div>
            </aside>

            <!-- SIDE PANEL OPEN BUTTON -->
            <button id="toggleSidePanel" class="side-panel-open-button hidden" title="Open panel">
                <Icon name="fa7-solid:right-from-bracket" class="icon icon-desktop" />
                <Icon name="fa7-solid:caret-down" class="icon icon-mobile" />
            </button>

            <!-- MAP COLUMN -->
            <div class="map-frame-main">

                <div class="map-grid">
					<!-- MAP PANEL -->
                    <div class="map-grid-map map-touch-wrapper">
                        <MapPanel />
                        <div class="map-touch-overlay"></div>
                        <div class="map-interact-hint">Tap to interact</div>
                    </div>

					 <!-- BOTTOM PANEL -->
					<BottomPanel />	

                    <!-- BOTTOM PANEL OPEN BUTTON -->
                    <button id="toggleBottomPanel" class="bottom-panel-open-button" title="Open info panel">
                        <Icon name="fa7-solid:caret-up" class="icon" />
                    </button>
                </div>
            </div>

        </div>
    </section>
</BaseLayout>

<div>
    <SearchCenterModal />
</div>

<script>
    import * as mapFrame from '../scripts/ui/mapFrame.js'
    import * as map from '../scripts/mapper/map.js'
    import { getApproxLocation } from '../scripts/utils/geoUtils.js'
    import initTracksStore from '../scripts/stores/tracks.js'
    import descWidth from '../scripts/alpine-plugins/formatting.js'
    import { isIOS, isChromeOniPad } from '../scripts/utils/env'
    import { constants } from '../scripts/config'

    // Read initial trackId from URL
    import { initFromUrl } from '../scripts/utils/history.js'

    document.addEventListener('alpine:init', () => {
        Alpine.plugin(descWidth)
        initTracksStore(Alpine)

        Alpine.store('ui', {
            showSearchCenterModal: false
        })
    })

    document.addEventListener('DOMContentLoaded', async () => {
        mapFrame.initUI()

        map.initMap()

        const tracks = Alpine.store('tracks') as any 
        tracks.loadingCesium = true

        ;(window as any).map = {
            whenViewerReady: map.whenViewerReady,
            showMapThumbnails: map.showMapThumbnails,
            hideMapThumbnails: map.hideMapThumbnails,
            renderMapThumbnails: map.renderMapThumbnails,
            clearMapThumbnails: map.clearMapThumbnails
        }

        tracks.loadingCesium = false

        ;(window as any).env = {
            isIOS,
            isChromeOniPad
        }

        ;(window as any).constants = (constants)

        const { lat, lon, countryCode } = await getApproxLocation()
        tracks.countryCode = countryCode

        await tracks.setSearchCenter(lat, lon, { fromInit: true })

        await map.whenViewerReady()

        const { trackId } = initFromUrl()

        if (trackId) {
            await tracks.openTrack(trackId, { fromInit: true })
            history.replaceState({ trackId }, '')
        } else {
            history.replaceState({ trackId: null }, '')
        }

        window.addEventListener('popstate', e => {
            const state = e.state
            const tracks = Alpine.store('tracks') as any

            if (state?.trackId) {
                tracks.openTrack(state.trackId, { fromHistory: true })
            } else {
                tracks.exitActiveTrack({ fromHistory: true })
            }
        })
    })

</script>

<script src="/src/scripts/vendor/glightbox.js"></script>


