---
import { Icon } from 'astro-icon/components'
---

<div class="bottom-panel isopen">
	<button class="bottom-panel-close-button" title="Close info panel">
		<Icon name="fa7-solid:xmark" class="icon" />
	</button>

	<div class="bottom-panel-content">
		HEY
	</div>
</div>