---
import { Icon } from 'astro-icon/components'
---

<div class="map-control map-bar map-mode-control">
  <a id="mapModeToggle" href="#" title="Map mode" class="map-mode-toggle">
    <span id="mapModeToggleIcon">
      <Icon name="fa7-solid:map" class="map-mode-icon" />
    </span>
  </a>
</div>
