---
import '../styles/map.css' 
import LayerControl from './LayerControl.astro'
import ZoomControl from './ZoomControl.astro'
import { Icon } from 'astro-icon/components'
---
<div id="mapRoot">
	<div id='cesiumContainer'></div>

<div class="x-data">
<div 
    id="trackPopUp"
    x-data
    x-show="$store.tracks.selected"
    x-cloak
    class="map-popup-container"
>
    <div id="trackPopUpContent" class="map-popup" style="z-index: 10;">
        <a 
            class="map-popup-close-button" 
            href="#" 
            @click.prevent="$store.tracks.clear()"
        >×</a>

        <div class="map-popup-content-wrapper">
            <div 
                id="trackPopUpLink" 
                class="map-popup-content"
                style="max-width: 300px;"
                x-text="$store.tracks.selected?.trackName"
            ></div>
        </div>

        <div class="map-popup-tip-container">
            <div class="map-popup-tip"></div>
        </div>
    </div>
</div>

</div>


	<div class="map-top map-right">
		<ZoomControl />

		<div class="map-bar map-control">
			<a id="lookDown" href="#" title="Look down"><Icon name="fa7-solid:circle-arrow-down" class="map-look-down-icon" /></a>
		</div>
		<LayerControl />
	</div>
	<div class="map-bottom map-right" style="display: none;">
		<div class="map-control-attribution map-control">
			<div class="map-bar map-control" style="background-color: #fff; padding: 0px 4px;">
				<span class="is-size-7" id="attributionText">Attribution</span>
			</div>
			
		</div>
	</div>
</div>

<style>
	#mapRoot {
		position: relative;
		height: 100%;
		/* height: calc(100vh - 52px); */
		font-family: sans-serif;
	}

	#cesiumContainer {
		position: absolute;
		inset: 0;
	}

	.attribution-box {
		position: absolute;
		bottom: 10px;
		right: 10px;
		background: rgba(0,0,0,0.35);
		padding: 4px 8px;
		border-radius: 4px;
		font-size: 11px;
		color: #fff;
		z-index: 9999;
		pointer-events: auto;
	}

</style>
