---

---
<div id="trackPopUp" x-show="$store.tracks.selected" x-cloak x-data class="map-popup-container">
	<div id="trackPopUpContent" class="map-popup" style="z-index: 10;">
		<a class="map-popup-close-button" href="#" @click.prevent="$store.tracks.clear()">×</a>
		<div class="map-popup-content-wrapper">
			<div id="trackPopUpLink" class="map-popup-content" x-text="$store.tracks.selected?.trackName"></div>
		</div>
		<div class="map-popup-tip-container">
			<div class="map-popup-tip"></div>
		</div>
	</div>
</div>

<style>
	.map-popup-container {
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none; 
		z-index: 10;
	}

	.map-popup {
		pointer-events: auto; 
		position: absolute; 
		transform: translate(-50%, calc(-100% - 24px));
	}

	#trackPopUp {
		position: absolute;
		transform: translate(-50%, -100%); /* center horizontally, sit above marker */
		pointer-events: auto;
	}
</style>