---

---

<div class="side-panel">

    <p>HEYsdfsdfsdfsfds sdf d fsd f sdf sd f </p>
    <p>HEYsdfsdfsdfsfds sdf d fsd f sdf sd f </p>

</div>

<style>

@media only screen and (min-width: 769px) {
    .side-panel {
        width: 20rem;
    }
}

</style>