---
import '../../styles/map.css' 
import LayerControl from './LayerControl.astro'
import ZoomControl from './ZoomControl.astro'
import { Icon } from 'astro-icon/components'
import MapPopup from './MapPopup.astro'
---
<div id="mapRoot" style="position: relative;">

    <div class="map-loading-overlay" x-data x-show="$store.tracks.loading" x-cloak>
        <div class="map-loading-spinner"></div>
    </div>

    <div id="cesiumContainer"></div>

    <MapPopup />

    <div class="map-top map-right">
        <ZoomControl />
        <div class="map-bar map-control">
            <a id="lookDown" href="#" title="Look down">
                <Icon name="fa7-solid:circle-arrow-down" class="map-look-down-icon" />
            </a>
        </div>
        <LayerControl />
    </div>

    <div class="map-bottom map-right" style="display: none;">
        <div class="map-control-attribution map-control">
            <div class="map-bar map-control" style="background-color: #fff; padding: 0px 4px;">
                <span class="is-size-7" id="attributionText">Attribution</span>
            </div>
        </div>
    </div>
</div>



<style>
	#mapRoot {
		position: relative;
		height: 100%;
		/* height: calc(100vh - 52px); */
		font-family: sans-serif;
	}

	#cesiumContainer {
		position: absolute;
		inset: 0;
	}

	.attribution-box {
		position: absolute;
		bottom: 10px;
		right: 10px;
		background: rgba(0,0,0,0.35);
		padding: 4px 8px;
		border-radius: 4px;
		font-size: 11px;
		color: #fff;
		z-index: 9999;
		pointer-events: auto;
	}

	.map-loading-overlay {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none; /* Cesium still receives mouse events */
		z-index: 500; /* above map, below popup */
	}

	.map-loading-spinner {
		width: 36px;
		height: 36px;
		border: 4px solid rgba(0,0,0,0.2);
		border-top-color: rgba(0,0,0,0.6);
		border-radius: 50%;
		animation: spin 0.6s linear infinite;
	}

	@keyframes spin {
		to { transform: rotate(360deg); }
	}

</style>
