---
import '../styles/index.scss'
import Logo from '../components/widgets/Logo.astro'
import { Icon } from 'astro-icon/components'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content={Astro.generator} />
        <title>RikiTraki</title>
    </head>

    <body class="has-navbar-fixed-top">

        <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation" x-data="{ open: false }">
            <div class="navbar-brand">
                <a class="navbar-item" style="padding: 0px;">
                    <Logo />
                </a>
                <p class="navbar-item is-size-4">
                    <span class="username" x-text="$store.user.usernameFromUrl"></span>
                </p>
                <a role="button" class="navbar-burger has-text-white" :class="{ 'is-active': open }" @click="open = !open" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" :class="{ 'is-active': open }">
                <div class="navbar-start"></div>
                <div class="navbar-end">
                    <a class="navbar-item" style="max-height: 62px;" x-cloak x-show="$store.user.isLoggedIn && $store.tracks.activeTrackId && $store.tracks.items[$store.tracks.activeTrackId].details.username === $store.user.username">
                        <Icon name="fa7-solid:edit" class="is-size-4"/>
                    </a>
                    <a class="navbar-item mr-4"
                    style="max-height: 62px;"
                    x-cloak
                    x-show="$store.user.isLoggedIn"
                    @click="$store.ui.showUploadTrackModal = true">
                        <Icon name="fa7-solid:cloud-arrow-up" class="is-size-4"/>
                    </a>

                    <a class="navbar-item"
                        style="max-height: 62px;"
                        @click="$store.user.isLoggedIn ? $store.ui.showUserInfoModal = true : $store.ui.showLoginModal = true">

                        <Icon
                            name="fa7-solid:user"
                            class="is-size-4"
                            :class="{ 'user-icon-logged-in': $store.user.isLoggedIn }"
                        />
                    </a>
                     <a class="navbar-item" style="max-height: 62px;">
                        <Icon name="fa7-solid:circle-info" class="is-size-4"/>
                    </a>
                </div>
            </div>
        </nav>

        <div class="app-root">
            <slot />
        </div>

    </body>
</html>

<style>

    html, body {
        height: 100%;
        overflow-x: hidden;
        overscroll-behavior-y: none;
    }

    .app-root {
        height: calc(100dvh - var(--navbar-height));
        display: flex;
        flex-direction: column;
        min-height: 0;
    }

    .navbar-item svg,
    .navbar-brand svg {
        max-height: 4rem;
    }

    .user-icon-logged-in {
        color: #8fd48f;
    }

    .username {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 136px; /* default for 320px */
    }

    @media (min-width: 360px) {
        .username { max-width: 153px; }
    }

    @media (min-width: 375px) {
        .username { max-width: 159px; }
    }

    @media (min-width: 768px) {
        .username { max-width: 326px; }
    }

    @media (min-width: 1024px) {
        .username { max-width: 435px; }
    }

</style>
